## Week 8 - Merging and Joining with Pandas

### In-studio exercises

## Ex 1.

Create three dataframes based on the following information and assign them to the vars `data1`, `data2`, and `data3`

In [1]:
raw_data_1 = {
        'subject_id': ['1', '2', '3', '4', '5'],
        'first_name': ['Alex', 'Amy', 'Allen', 'Alice', 'Ayoung'], 
        'last_name': ['Anderson', 'Ackerman', 'Ali', 'Aoni', 'Atiches']}

raw_data_2 = {
        'subject_id': ['6', '7', '8', '9', '10'],
        'first_name': ['Billy', 'Brian', 'Bran', 'Bryce', 'Betty'], 
        'last_name': ['Bonder', 'Black', 'Balwner', 'Brice', 'Btisan']}

raw_data_3 = {
        'subject_id': ['1', '2', '3', '4', '5', '7', '8', '9', '10', '11'],
        'test_id': [51, 15, 15, 61, 16, 14, 15, 1, 61, 16]}

## Ex 2.

Combine `data1` and `data2` rowise and assign it to the var `all_data`.

## Ex 3.

Merge `all_data` and `data3` to get a full record of data for each subject_id. Remove any rows with NaNs.

## Ex 4

Import the datasets `cars1` and `cars2` and assign them to variables. Inspect both of the datasets. Remove the unnamed blank columns from `cars1`. Combine `cars1` and `cars2` into a single dataframe.

*Note that these excercises have been adapted from material created by Guilherme Samora: https://github.com/guipsamora